html {
  margin:0;
  background: black;
}
body {
  /* background: black; */
  color: white;
}

.App {
  /* text-align: center; */
  /* background-color: black; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* <-- Cotton in center of screen --> */
.cotton_bg {
  /* width: 100vw; */
  height: 75vh;
  background-repeat: no-repeat, no-repeat;
  background-image: url("img/cotton_bulb_black_and_white_web_blackcotton.jpg");
  background-blend-mode: darken;
  background-size: 400px 400px;
  background-attachment: fixed;
  background-position: center; 
}


/* Black Cotton is Our Culture */
#Our_Culture_text {
  top:5vh;
  position:relative;
  text-align: center;
}

#Our_Culture_text::before {
  letter-spacing: 5px;
  font: "Lato", sans-serif;
  font-size:1.6em;
  text-transform: uppercase;
  content:"Black Cotton is Our Culture";
  transition: 0.6s;
}



/*Background of Girl with fist in the air */
#Blackcotton_Girl {
  /* width:100vw; */
  /* padding-top: 130px; */
  margin-top:60px;
  height:100vh;
  background-repeat: no-repeat;
  background-image: url("img/black_girl_fist_cotton_tree.png");
  background-size: 100vh;
  background-position: left; 
  /* text-align: right; */
}


/* Text for image with the girl fist in  the air */
#Blackcotton_Girl_Text {
  text-align: center;
  font-size: 25px;
  margin-top: 49px;
  /* padding-bottom: 80px; */
  /* width:50px; */
}

.Blackcotton_Girl_Text::before {
  display:inline-block;
  letter-spacing: 5px;
  font: "Lato", sans-serif;
  text-transform: uppercase;
  content: 'Follow the movement';
  }




  #Blackcotton_Girl .Social_Media {
  font: "Lato", sans-serif;
  letter-spacing: 5px;
  font-size:30px;
  margin:0;
  text-decoration: none;
  text-align: right; 
  /* width:50px; */
  /* background:transparent; */
}

.Social_Media::before {
  content:url('img/white_instagram_logo_40hw.png')' @blackcotton.us';

  display: block;
  /* top:10em; */
  position: relative;
  color:white;
  /* height:auto; */
  /* width:auto; */
  font-size: 14px;
}

/* .Social_Media::after { */
 /* background-image:url('img/white_instagram_logo.png'); */
 /* background-repeat:no-repeat;
 background-size: auto 7vh;
 display: inline-block;
 position: relative;
 top:32.4vh; */
 /* left: 29.2vw; */
 /* left:300px; */
 /* left:375px;
 width: 4vw; 
 height: 8vh; */
 /* content: url('img/white_instagram_logo.png'); */
/* } */


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
