html {
  background: black;
  color: white;
  margin:0;
}
.white_bg {
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat, no-repeat;
  background-image: url("img/cotton_bulb_black_and_white_web_blackcotton.jpg");
  background-blend-mode: darken;
  background-size: 400px 400px;
  background-attachment: fixed;
  background-position: center; 
}

#Blackcotton_Girl {
  width:100vw;
  height:100vh;
  background-repeat: no-repeat;
  background-image: url("img/black_girl_fist_cotton_tree.png");
  background-size: 50%;
  /* opacity: 0.9; */
  background-position: left; 
  
}

.Blackcotton_Girl_text {
  /* display:flex; */
  float: right;
  width: auto;
  text-align: left;
  text-transform: uppercase;
  margin-right: 3em;
  margin-top:3em;
}

.Blackcotton_Girl_text::before {
  letter-spacing: 5px;
  font: "Lato", sans-serif;
  font-size:1.6em;
  font-weight: bold;
  content:"Follow the movement";
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
